*, *:before, *:after{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}
ul{
  display: block;
  }

header{
  height: 150px;
  width: 100%;
  background-color: white;
  max-width: 100%;
}
.logo {
  background: #fff;
  max-width: 100%;
  margin-right: 500px;
 margin-top:  30px ;
}
.graficlogo {
  padding: 5px;
  max-width: 100%
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  max-width: 100%;
}

.topnav {
  background-color: #fff;
  font-size: 14;
  display: flex;
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
 max-width: 100%;
}
.topnav .icon {
  display: none;
}
body{
  margin: 0;
  font-family: sans-serif;
  background-color: #edf1f2 ;
  font-family: 'Roboto', sans-serif;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 65vh;
  min-height: 600px; */
  background-color: #edf1f2 ;
  color: #fff;
}
.menu{
display: flex;
margin-top: 50px;
margin-right: 360px;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ban-size{
width: 1170px;
  max-width: 100%;
}
.main{
display: flex;
flex-direction: column;
align-items: center;
height: 32vh;
min-height: 600px;
background-color: #edf1f2 ;
color: #000;

}


 footer{

  width: 100%;
    height: 200px;
    background-color: #202326;
    color:white;

}

.text{
display: flex;
justify-content: center;
margin-left: 10px;
padding: 10px;
word-spacing: 10px;
} 





